:root {
  --color: #2e323f;
  --color2: #6f737f;
  --color3: #f1f1f1;
  --highlight: #a59678;
  --darkColor: #3b4050;
  --minWidthLg: 1000px;
  --minWidthMed: 800px;
  --minWidthSml: 420px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: 'Montserrat';
}

@media (min-width: 800px) {
  html,
  body {
    font-size: 18px;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 3.5rem;
  font-weight: 500;
}

h1,
h3 {
  margin-bottom: 0.25em;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: 'Rubik';
  line-height: 1em;
}

p {
  max-width: 72ch;
  line-height: 1.35em;
}

i.fas {
  margin: 0 0.25rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 800px) {
  .flex {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

.cell {
  padding: 1em;
}

.btn {
  padding: 0.5em 1.5em;
  display: inline-block;
  color: var(--color);
  font-weight: 800;
  background: var(--highlight);
  border: 2px solid var(--color);
  border-radius: 20px;
  -webkit-box-shadow: 0 0 1px 2px var(--highlight);
          box-shadow: 0 0 1px 2px var(--highlight);
  outline: transparent;
}

.btn:hover {
  color: var(--color);
  background-color: var(--color2);
  -webkit-box-shadow: 0 0 1px 2px white;
          box-shadow: 0 0 1px 2px white;
}

.btn:focus,
.btn :active {
  -webkit-box-shadow: 0 0 1px 2px white;
          box-shadow: 0 0 1px 2px white;
  background: var(--highlight);
}

.highLight {
  color: var(--highlight);
}

header {
  width: 100%;
  position: fixed;
  color: white;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.55);
  -webkit-transition: background 0.5s ease-in;
  transition: background 0.5s ease-in;
  z-index: 420;
}

.scrolled {
  background: var(--color);
}

.logo {
  min-width: 150px;
}

.canHazBurger {
  display: -ms-grid;
  display: grid;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

.canHazBurger li {
  width: 25px;
  height: 3px;
  background: white;
}

@media (min-width: 800px) {
  .canHazBurger {
    display: none;
    visibility: hidden;
  }
}

nav {
  width: 100%;
  margin: 10px 0;
}

@media (min-width: 800px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

nav li {
  padding: 0.5em;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 800px) {
  nav li {
    display: inline-block;
  }
}

nav a {
  color: white;
}

nav a:hover {
  color: var(--color2);
}

nav a::after {
  content: '';
  width: -0px;
  height: 2px;
  display: block;
  background: var(--highlight);
  -webkit-transition: width 0.35s;
  transition: width 0.35s;
}

nav a:hover::after {
  width: 100%;
}

.hidden {
  display: none;
  visibility: hidden;
}

@media (min-width: 800px) {
  .hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
  }
}

.hero {
  min-height: 650px;
  padding: 3em 1em;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(black)), url("https://picsum.photos/1900/650?random=1") fixed center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), black), url("https://picsum.photos/1900/650?random=1") fixed center no-repeat;
  background-size: cover;
}

.hero h1 {
  display: inline;
}

.hero span {
  color: var(--highlight);
}

section a, footer a {
  margin: 0 0.2em;
  color: var(--color2);
  font-weight: 600;
}

section a:visited, footer a:visited {
  color: var(--color2);
}

section a:hover, footer a:hover {
  color: var(--highlight);
  border-bottom: 2px solid var(--color2);
}

section, footer,
main {
  padding: 2em 0;
}

main .flex {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 800px) {
  main .flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1000px) {
  main .flex {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: left;
  }
}

@media (min-width: 800px) {
  aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1000px) {
  aside {
    display: block;
  }
}

.services {
  text-align: center;
  background-color: var(--color3);
}

.service {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  background: var(--highlight);
  border-radius: 999px;
}

.service i {
  position: relative;
  top: 25%;
  left: 1%;
  color: var(--color);
  font-size: 3em;
}

.content {
  min-width: 65%;
}

.breakDown {
  min-width: 35%;
  text-align: center;
  color: white;
}

.breakDown .cell {
  margin: 1em;
  background-color: var(--darkColor);
}

.feature {
  color: white;
  background-color: var(--darkColor);
}

.feature--two {
  background-color: var(--highlight);
}

footer {
  padding: 1em 0;
  background-color: var(--darkColor);
}

footer h1 {
  text-align: center;
}

footer .cell ul {
  min-width: 150px;
}

footer li {
  padding: 0.25em;
}

.copyright {
  padding: 0.5em;
  color: white;
  font-size: 0.75rem;
  text-align: center;
  background: var(--color);
}

.stuff,
.navCopy {
  width: 100%;
}
