//-//> Base settings <//

:root {
	--color: #2e323f;
	--color2: #6f737f;
	--color3: #f1f1f1;
	--highlight: #a59678;
	--darkColor: #3b4050;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: 'Montserrat';
	@media (min-width: 800px) {
		font-size: 18px;
	}
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1 {
	font-size: 3.5rem;
	font-weight: 500;
}

h1,
h3 {
	margin-bottom: 0.25em;
	padding: 0;
}

h1,
h2,
h3 {
	font-family: 'Rubik';
	line-height: 1em;
}

p {
	max-width: 77ch;
	line-height: 1.35em;
}

i.fas {
	margin: 0 0.25rem;
}
//- //< end base settings <//

//-//> Content is King <//
.flexAlways {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex {
	display: block;
	justify-content: space-between;
	align-items: center;
	@media (min-width: 800px) {
		display: flex;
	}
}

.wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1em;
}

.cell {
	padding: 1em;
}

.btn {
	padding: 0.5em 1.5em;
	display: inline-block;
	color: var(--color);
	font-weight: 800;
	background: var(--highlight);
	border: 1px solid var(--color);
	border-radius: 20px;
}

.highLight {
	color: var(--highlight);
}

header {
	width: 100%;
	position: fixed;
	color: white;
	font-size: 1rem;
	background: rgba(0, 0, 0, 0.55);
	transition: background 0.5s ease-in;
	z-index: 420;
}

.scrolled {
	background: var(--color);
	transition: background 0.5s ease-in-out;
}

.logo {
	min-width: 150px;
}

.canHazBurger {
	display: grid;
	gap: 4px;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 1em;
	right: 1em;
	cursor: pointer;
	li {
		width: 25px;
		height: 3px;
		background: white;
	}
	@media (min-width: 800px) {
		display: none;
		visibility: hidden;
	}
}

nav {
	width: 100%;
	margin: 10px 0;
	li {
		padding: 0.5em;
		display: block;
		text-transform: uppercase;
		text-align: center;
		@media (min-width: 800px) {
			display: inline-block;
		}
	}
	a {
		color: white;
		&:hover {
			color: var(--color2);
		}
		&::after {
			content: '';
			width: -0px;
			height: 2px;
			display: block;
			background: var(--highlight);
			transition: width 0.35s;
		}
		&:hover::after {
			width: 100%;
		}
	}
}

.hidden {
	display: none;
	visibility: hidden;
	@media (min-width: 800px) {
		display: flex;
		visibility: visible;
	}
}

.hero {
	min-height: 620px;
	padding: 3em 1em;
	color: white;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('https://picsum.photos/1900/620?random=1');
	background-size: cover;
	h1 {
		display: inline;
	}
	span {
		color: var(--highlight);
	}
}

section,
footer {
	a {
		margin: 0 0.2em;
		color: var(--color2);
		font-weight: 600;
		&:hover {
			color: var(--highlight);
			border-bottom: 2px solid var(--color2);
		}
	}
}

section,
main {
	padding: 2em 0;
}

main {
	.flex {
		align-items: flex-start;
		@media (min-width: 700px) {
			display: block;
			text-align: center;
		}
		@media (min-width: 1000px) {
			display: flex;
		}
	}
}

aside {
	display: block;
	@media (min-width: 700px) {
		display: flex;
	}
	@media (min-width: 1000px) {
		display: block;
	}
}
.services {
	text-align: center;
	background-color: var(--color3);
}

.content {
	min-width: 65%;
}

.breakDown {
	min-width: 35%;
	text-align: center;
	color: white;
	.cell {
		margin: 1em;
		background-color: var(--darkColor);
	}
}

.feature {
	color: white;
	background-color: var(--darkColor);
	&--two {
		background-color: var(--highlight);
	}
}

footer {
	padding: 1em 0;
	background-color: var(--darkColor);
	h1 {
		text-align: center;
	}
	.cell ul {
		min-width: 150px;
	}
	li {
		padding: 0.25em;
	}
}

.copyright {
	padding: 0.5em;
	color: white;
	font-size: 0.75rem;
	background: var(--color);
}
//-//< kill the king <//
