//- //< Sassy Stuffs
$minWidthLg: 1000px;
$minWidthMed: 800px;
$minWidthSml: 420px;
//-//> Castle settings <//

:root {
	--color: #2e323f;
	--color2: #6f737f;
	--color3: #f1f1f1;
	--highlight: #a59678;
	--darkColor: #3b4050;
	--minWidthLg: 1000px;
	--minWidthMed: 800px;
	--minWidthSml: 420px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
	min-height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: 'Montserrat';
	@media (min-width: $minWidthMed) {
		font-size: 18px;
	}
}

a {
	text-align: center;
	text-decoration: none;
}

img {
	max-width: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1 {
	font-size: 3.5rem;
	font-weight: 500;

	display: inline;

	span {
		color: var(--highlight);
	}
}

h1,
h3 {
	margin-bottom: 0.25em;
	padding: 0;
}

h1,
h2,
h3 {
	font-family: 'Rubik';
	line-height: 1em;
}

p {
	max-width: 72ch;
	line-height: 1.35em;
}

i.fas {
	margin: 0 0.25rem;
}

//- //< end base settings <//
//-//> Content is King <//

.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	@media (min-width: $minWidthMed) {
		flex-wrap: nowrap;
		justify-content: space-between;
	}
}

.wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1em;
}

.cell {
	padding: 1em;
}

.btn {
	padding: 0.5em 1.5em;
	display: inline-block;
	color: var(--color);
	font-family: 'Rubik';
	font-weight: bolder;
	background: var(--highlight);
	border: 2px solid var(--color);
	border-radius: 20px;
	box-shadow: 0 0 1px 2px var(--highlight);
	outline: transparent;
	&:hover {
		color: var(--color);
		background-color: var(--color2);
		box-shadow: 0 0 1px 2px white;
	}
	&:focus,
	:active {
		box-shadow: 0 0 1px 2px white;
		background: var(--highlight);
	}
}

.highLight {
	color: var(--highlight);
}

//- //> head that wears teh crown <//

header {
	width: 100%;
	position: fixed;
	color: white;
	font-size: 1rem;
	background: rgba(0, 0, 0, 0.55);
	transition: background 0.5s ease-in;
	z-index: 420;
}

.scrolled {
	background: var(--color);
}

.logo {
	width: 50%;
	@media (min-width: $minWidthMed) {
		width: 100%;
		padding-right: 2em;
	}
}

.canHazBurger {
	display: grid;
	gap: 4px;
	align-items: center;
	justify-content: center;
	position: relative;
	right: -70px;
	cursor: pointer;
	@media (min-width: $minWidthMed) {
		display: none;
		visibility: hidden;
	}
	li {
		width: 25px;
		height: 3px;
		background: white;
	}
}

nav {
	width: 100%;
	margin: 10px 0;
	@media (min-width: $minWidthMed) {
		display: flex;
		justify-content: space-between;
	}
	li {
		padding: 0.5em;
		text-transform: uppercase;
		text-align: center;
		@media (min-width: $minWidthMed) {
			display: inline-block;
		}
	}
	a {
		color: white;
		&:hover {
			color: var(--color2);
		}
		&::after {
			content: '';
			width: -0px;
			height: 2px;
			display: block;
			background: var(--highlight);
			transition: width 0.35s;
		}
		&:hover::after {
			width: 100%;
		}
	}
}

.hidden {
	display: none;
	visibility: hidden;
	@media (min-width: $minWidthMed) {
		display: flex;
		visibility: visible;
	}
}

//- //< off with his head <//
//- //> a new hero becomes king <//

.hero {
	min-height: 650px;
	padding: 3em 1em;
	color: white;

	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('https://picsum.photos/1900/650?random=1') fixed center no-repeat;
	background-size: cover;
}

section {
	a {
		margin: 0 0.2em;
		color: var(--color2);
		font-weight: 600;
		&:visited {
			color: var(--color2);
		}
		&:hover {
			color: var(--highlight);
			border-bottom: 2px solid var(--color2);
		}
	}
}

section,
main {
	padding: 2em 0;
}

main {
	.flex {
		align-items: flex-start;
		@media (min-width: $minWidthMed) {
			flex-wrap: wrap;
			text-align: center;
			justify-content: center;
		}
		@media (min-width: 1000px) {
			flex-wrap: nowrap;
			text-align: left;
		}
	}
}

.services {
	text-align: center;
	background-color: var(--color3);
}

.service {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	position: relative;
	background: var(--highlight);
	border: 3px solid var(--color3);
	border-radius: 999px;
	box-shadow: 0 0 1px 4px var(--highlight);
	i {
		position: relative;
		top: 25%;
		left: 1%;
		color: var(--color);
		font-size: 3em;
	}
}

.content {
	min-width: 65%;
}

.breakDown {
	min-width: 35%;
	text-align: center;
	color: var(--color3);
	@media (min-width: $minWidthMed) {
		display: flex;
	}
	@media (min-width: 1000px) {
		display: block;
	}
	.cell {
		margin: 1em;
		background-color: var(--darkColor);
	}
}

.feature {
	color: var(--color3);
	text-align: right;
	background-color: var(--darkColor);
	&--two {
		@extend .feature;
		text-align: left;
		background-color: var(--color2);
		.flex {
			flex-wrap: wrap-reverse;
			@media (min-width: $minWidthMed) {
				flex-wrap: nowrap;
			}
		}
	}
}

footer {
	@extend section;
	padding: 1em 0;
	color: var(--color3);
	background-color: var(--darkColor);
	text-align: center;
	.cell ul {
		min-width: 150px;
	}
	li {
		padding: 0.25em;
	}
}

#aboutUs {
	text-align: left;
}

.copyright {
	padding: 0.5em;
	color: white;
	font-size: 0.75rem;
	text-align: center;
	background: var(--color);
}

.stuff,
.navCopy {
	width: 100%;
}
//-//< time to kill the king <//
//todo fix anchors for fixed header
//- //> Hax for anchors testing...3
#services,
#features,
#about {
	height: 100px;
	margin-top: -100px;
	display: block;
	visibility: hidden;
}
