<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="final.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Rubik")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat")
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css', rel='stylesheet', type='text/css')
    script(defer src="https://use.fontawesome.com/991e61a5a1.js")
    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js")
    script(defer src="final.js")
    title KP - Final Challenge 

  body
    header
      .flex.wrap
        .logo KP-Final
        ul.canHazBurger
          li
          li
          li
        nav.hidden
          ul.navMain
            li
              a(href="#") Services
            li
              a(href="#") Features
            li
              a(href="#") About
            li
              a(href="#") Contact
          ul.navSignUp
            li
              a(href="#") SignUp
            li
              a(href="#") Login

    article.hero.flex
      .flex.wrap
        #heroTitle
          h1.heroTxt Final 
            span Responsive Layout 
          h1.heroTxt Challenge
        .cell
          p Delectus cumque, quaerat consequuntur cum quae earum voluptatibus ea neque temporibus voluptates unde, minima deleniti aliquam nostrum eaque dignissimos dolorum corrupti expedita.
          a.btn(href="#") Click Me!

    section.services
      .flex.wrap
        article.cell
          .service
            i.fas.fa-mobile-alt
          h2.highLight Mobile-First
          p Quasi ad cumque consectetur asperiores rerum odio aperiam doloremque iusto id magni laborum nisi in optio ipsa veniam exercitationem facilis, voluptates illum.
        article.cell
          .service
            i.fab.fa-css3
          h2.highLight Flex-Box
          p Recusandae nam mollitia dolor officiis dignissimos a dolores voluptates ipsa corrupti quisquam. Minus rem quam dolore dolorem beatae voluptates optio architecto pariatur!
        article.cell
          .service
            i.fas.fa-vial
          h2.highLight Simple
          p Totam inventore quo alias ea dignissimos voluptas, sit quaerat facere aperiam minima corporis nobis numquam soluta perferendis corrupti illo eius itaque deserunt.
    
    main
      .flex.wrap
        section.content
          h2.highLight Don't Over think It
          p Voluptatibus adipisci sed 
            a(href="#") find more
            |
            | perspiciatis cum, doloribus molestiae sit eum eveniet tempora, pariatur modi minus. Nisi tempore quae expedita blanditiis saepe voluptatem voluptas.
          img(src="https://picsum.photos/800/600?random=", alt="")
          p Voluptatibus adipisci sed perspiciatis cum, doloribus molestiae sit eum eveniet tempora, pariatur modi minus. Nisi tempore quae expedita blanditiis saepe voluptatem voluptas.
          p Voluptatibus adipisci sed perspiciatis cum, doloribus molestiae sit eum eveniet tempora, pariatur modi minus. Nisi tempore quae expedita blanditiis saepe voluptatem voluptas.
        aside.breakDown
          article.cell
            h2 Eat 
              i.fas.fa-utensils
            p Doloribus minima qui nihil. Maxime accusantium commodi ea reprehenderit facere et. Quisquam hic amet ipsum unde perferendis quae saepe quidem! Rem magnam non deserunt, praesentium omnis maxime quidem recusandae dolor!
          article.cell
            h2 Sleep 
              i.fas.fa-bed
            p Voluptatem officiis ad voluptatum labore nobis iusto perspiciatis sed iste praesentium corrupti distinctio quaerat ipsum dolores facilis, enim corporis nam quidem mollitia amet neque. Quis ea praesentium nihil est deleniti?
          article.cell
            h2 Code 
              i.fas.fa-code
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia qui error non officia rerum ipsam, corporis tempore. Neque alias ullam aliquam rem magni, veritatis necessitatibus amet sint earum, itaque eaque?

    section.feature
        .flex.wrap
          article.cell
            h2 something1
            p Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur aliquet quam id dui posuere blandit. Pellentesque in ipsum id orci porta dapibus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
            p Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat.
          img(src="https://picsum.photos/550/350?random=2" alt="")
    
    section.feature--two
      .flex.wrap
        img(src="https://picsum.photos/550/350?random=3" alt="")
        article.cell
          h2 something2
          p Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt. Donec sollicitudin molestie malesuada. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor volutpat.
          p Pellentesque in ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat. Vivamus suscipit tortor eget felis porttitor volutpat. Sed porttitor lectus nibh. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.

    footer
      .wrap
        h1 just scratching the surface
        .flex
          .cell#aboutUs
            h3.highLight About Us
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quidem cupiditate iure exercitationem error. Temporibus amet provident, non sint nemo earum mollitia corrupti cum, delectus illum aut voluptatum pariatur tempore.
          .cell
            h3.highLight Main Menu
            ul
              li
                a(href="#") item1
              li
                a(href="#") item2
              li
                a(href="#") item3
              li
                a(href="#") item4
          .cell
            h3.highLight Helpful Links
            ul
              li
                a(href="#") item1
              li
                a(href="#") item2
              li
                a(href="#") item3
              li
                a(href="#") item4
          .cell
            h3.highLight Other stuffs
            ul
              li
                a(href="#") item1
              li
                a(href="#") item2
              li
                a(href="#") item3
              li
                a(href="#") item4
    .copyright
      .flex.wrap
        .stuff
          i.fas.fa-copyright
          | 1Mind 2020 | Privacy | ReadMe
        .navCopy
          | Contact | SignUp | Login